/* body {
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: lightgreen;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
} */


body {
background-color: lightgreen;
font-family: Helvetica;
}

#main {
width: 60%;
border: 1px gray solid;
margin: auto;
padding: 10px;
background-color: white;
border-radius: 10px;
}

#header {
margin-top: 0;
border: 2px solid black;
padding: 5px;
height: 250px;
}

label {
width: 150px;
display: inline-block;
}

button {
display: block;
margin-top: 20px;

}
